.navLink {
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.87);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    -webkit-text-decoration: none;
    text-decoration: none;
}